#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_IN]=gnome-panel-launcher
Name[en_IN]=STS
Exec=/home/shubham/Downloads/sts-4.3.2.RELEASE/SpringToolSuite4
Comment[en_IN]=Starting Spring Tool Suit
Name=STS
Comment=Starting Spring Tool Suit
Icon=gnome-panel-launcher
